@media screen and (max-width: 780px) {
    body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: red;}
    }
.credit {
    margin: 140px
    }

.card {
/* width: 33rem;
height: 20rem; */
text-align: left;
border: none;
border-radius: 15px ;
box-shadow: 1px 1px 2px 2px rgb(213, 212, 212);
}

.btn {
    /* width: 30rem;  */
    text-align: center;
    color: white;
    background-color: rgb(32, 168, 178);
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    margin-top: 20px;

    }
.twolinks  {
    text-align: center;
    margin-top: 15px;
}

.twolinks a {
    color: lightseagreen;
    text-decoration: none;
}

.form-check-input:checked {
    background-color: lightseagreen;
    border-color: lightseagreen;
}

.form-check-input {
  font-family: system-ui, sans-serif;
  font-size: medium;
  border-color: green;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.credit .hide{
    visibility: hidden;
}
.credit .card2{
    margin-top: 60px;
}

.cardpass{
    display: flex;
    justify-content: center;
}
.btngenerate{
    margin: 10px;
    background-color: orange;
    color:white;
    border: none;
    box-shadow: 5px;
}
.progress{
    margin: 20px;
}

.result{
    font-size: 20px;
    text-align:left;
    font-weight: bold;
    margin-left: 10px;
}